h1 {
    text-align: center;
    margin: 20px;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.contenido {
    display: flex;
}

.texto {
    margin: 10px;
}

.gallery {
    display: inline-block;
    text-align: center;

}

.image-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.image-container img {
    width: 250px;
    height: auto;
}

.thumbnail {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.zoomed-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.zoomed-image img {
    height: 600px;
    width: auto;
}

.image-container:hover .zoomed-image {
    display: block;
}

.image-container span p {
    width: 200px;
    padding: 5px;
    text-align: justify;
    background-color: black;
}

.hidden {
    display: none; 
    margin: 20px;
}

.line {
    display: flex;
}

.line img {
    padding-right: 5px;
}

.text-a {
    margin: 10px;
}

.text-a p {
    width: 450px;
    text-align: justify;
}

.separador {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}

a {
    color: white;
    text-decoration: none;
}